/* Image Styles */
img.hover:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  img.rocorn {
    border-radius: 15px 150px;
  }
  
  img.opac {
    opacity: 0.5;
  }
  
  img.blur {
    filter: blur(4px);
  }
  
  img.gray {
    filter: grayscale(50%) blur(1px);
  }
  
  img.object {
    object-fit: cover;
    width: 250px;
    height: 167px;
  }
  
  img.contrast {
    filter: contrast(50%);
  }
  
  img.saturate {
    filter: saturate(50%);
  }
  
  img.shape-outside {
    shape-outside: circle();
    border-radius: 50%;
    width: 250px;
    height: 167px;
    float: left;
    margin-right: 10px;
  }
  
  img.mbm-difference {
    mix-blend-mode: difference;
  }
  
  img.mbm-hard-light {
    mix-blend-mode: hard-light;
  }
  
  /* Mosaic Section Styles */
  section.mosaic {
    display: flex;
    flex-wrap: wrap;
  }
  
  section.mosaic img {
    width: calc(33.33% - 10px);
    height: auto;
    margin: 5px;
  }
  