* {
	margin: 0;
	padding: 0;
}

body{
	display: grid;
	place-items: center;
	padding: 100px;
	
}
main{
	display: flex;
	flex-direction: column;
	padding: 20px;

	margin: 1rem auto;
	border: 3px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: #dddddd;
	display: flex;
	flex-direction: column;
}
input, button {
	padding: 0.5rem;
}
ul {
	margin: 1rem;
	list-style: none;
}

button {
	margin: 0.5rem;
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 320px;
	}
}
