
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Mooli&family=Roboto&family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');

.ex4 .parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
section{
  padding: 5%;
  padding-top: 0%;
}
.header img {
  margin-right: 80px;
}

.social img {
  margin: 2px;
}

/* Set the background of the header to blue */
.header,
footer {
  color: #fff;
  background-color: #505050;
  text-align: center;
  /* Center text within the header */
  padding: 8px;
  
  /* Add some padding for better spacing */
}

h1 {
  margin-left: 20px;
  font-family: 'DM Serif Display', serif;
}

h3 {
  padding: 8px;
  color: white;
  background-color: #1d4d72;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}


.title {
  display: flex;
  place-items: center;
}

.headtitle {
  text-align: center;
}

.nav {

  background-color: rgb(41, 24, 24);

  padding: 20px;
  font-family: 'Roboto Mono', monospace;

}

.nav a {
  background-color: black;
  display: flex;
  place-items: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  /* Remove underline */
  margin: 0 10px;
  /* Adjust spacing between links */
}
.nav a:hover{
  background-color: rgba(255,255,255,0.2);   
}
.nav .active{
  background-color: rgb(0, 0, 0, 0.2 );
}
.main {
  padding-left: 10%;
}

.green.section {
  display: grid;
  grid-area: footer;
  place-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.flag a {
  color: white;
}


.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  color: #fff;
  background-color: #1d4d72;
}

.secondary {
  color: #fff;
  background-color: black;
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  
  background-color: #e4ed14;

}




/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	color: rgb(0, 0, 0, 0.3);
	position: absolute;
    top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "≡";
}


.nav li {
	display: none;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "❌";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.nav {
		display: flex;
	}
	.nav li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.nav a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}
