@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');



.one{
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: minmax(30%, 70%) 1fr;
}
.button{
    display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
    margin-top: 70px;
	color: #fff;
	position: absolute;
    top: 15rem;
    left: 5rem;
    background-color: rgb(29, 37, 11);
    position: absolute;
}

.header img {
    border-radius: 30px;
    margin-left: 20px;
    
    
}
.hero{

    display: grid;
    place-items: center;
  }
/* Set the background of the header to blue */
.header, footer {
    color: white;
    background-color:#1d4d72;
    text-align: center; /* Center text within the header */
    padding: 20px; /* Add some padding for better spacing */
}
.footer{
    padding-top: 50px;
}
h1{
    display: grid;
    place-items: center;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;

}
h3{
    padding: 8px;
    color: white;
    background-color:#1d4d72;

    font-family:  monospace;
}

.title{
    display: flex;
    place-items: center;
}
.headtitle {
    text-align: center;
}

.nav{      
    background-color: rgb(41, 24, 24);
    padding: 20px; 
    font-family: 'Roboto Mono', monospace;
    
}

.nav a {
    display: flex;
    place-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Adjust spacing between links */
}


.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    padding: 30px;
    padding-top: 0;
    
    background-color: #f0f0f0; /* Change to desired background color */
    transition: background-color 0.3s;
}
.activities{
    padding-right: 10px;
}
.main-bi {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
   
}

.green.section {
    display: grid; 
    grid-area: footer;
    place-items: center;    
}


ul {

  list-style-type: none;  
  padding: 0;
}

.flag a{
 
    color: white;
}

#mode {
	position: absolute;
	top: 8rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}
